.state-details {
    font-family: Arial;
    background-color: powderblue;
    text-align: center;
    padding: 20px;
}

.state-details h1 {
    text-align: center;
    color: #333;    
    font-size: 40px;
    font-family: Play-fair Display;
    margin-top: -0.1%;
}

section {
    width: 75vw;
    margin: 20px auto;
    text-align: left;
    padding: 10px 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    color: #555;
    line-height: 20px;
}

section h2 {
    color: darkblue;
    font-size: 24px;
    margin-bottom: 15px;
    font-family: Play-fair Display;
}

.food-container, .festival-container, .tourist-container, .wear-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
}

.food-container img, .festival-container img, .tourist-container img, .wear-container img, .wear-container img {
    height: 180px;
    width: 30vw;
    object-fit: contain;
}

.food, .festival, .tourist, .wear {
    width: 55%;
    padding: 10px;
}

.food-container .food p, 
.festival-container .festival p, 
.tourist-container .tourist p, 
.wear-container .wear p {
    margin: 0;
}

.food-container .food strong, 
.festival-container .festival strong, 
.tourist-container .tourist strong{
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.wear-container .wear strong {
    line-height: 25px;
}
