.dive-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Layout */
.dive-wrapper .question-box {
  margin-top: 0;
}
.dive-wrapper .question-text {
  margin-top: -6%;
}
.question-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

/* Image */
.question-image {
  width: 25vw;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dive-wrapper .option-btn{
  width: 20vw;
  display: block;
  margin-top: 1rem;
}

